.authBackGround {
    background-image:  url("../../assets/UserProfile/userprofilebackground.jpg"); /* Đường dẫn đến ảnh */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 200vh;
}

.authContainer {
    width: 600px;
    margin: 50px auto;
    padding: 50px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    label {
        display: block;
        text-align: left;
        font-weight: bold;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    h1 {
        margin-top: 20px;
        font-size: 24px;
        margin-bottom: 15px;
        color: #333;
        text-align: center;
    }

    .authSocialContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    
        .googleButton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: white;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            transition: 0.3s ease;
    
            .googleIcon {
                margin-right: 10px;
                font-size: 20px;
            }
    
            &:hover {
                background: #f1f1f1;
            }
        }
    }
    
    span {
        padding-top: 10px;
        display: block;
        font-size: 16px;
        color: grey;
        margin-bottom: 15px;
        text-align: center;
        
    }

    .authInput {
        width: 100%;
        padding: 10px;
        margin-bottom: 12px;
        border: 1px solid #ccc;
        border-radius: 20px;
        font-size: 16px;
        transition: 0.3s ease;
    
        &:focus {
            border-color:#2A388F;
            box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
            outline: none;
        }
    }

    .passwordInputContainer {
        position: relative;
        display: flex;
        align-items: center;
    
        .passwordInput {
            width: 100%;
            padding-right: 40px; // Chừa chỗ cho icon con mắt
        }
    
        .eyeIcon {
            position: absolute;
            right: 10px;
            cursor: pointer;
            color: #333;
            font-size: 18px;
            transition: 0.3s;
    
            &:hover {
                color: #007bff;
            }
        }
    }

    .authButton {
        width: 100%;
        padding: 12px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        background: #2A388F;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease;
    
        &:hover {
            background: #0056b3;
            box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.4);
        }
    }

    .forgotPassword {
        font-size: 14px;
        margin-top: 10px;
        
        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .authError {
        color: red;
        font-size: 14px;
        margin-bottom: 10px;
        text-align: center;
    }

    .formGroup {
        display: flex;
        gap: 20px;
        width: 100%;
    }
    
    .formColumn {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }
    
}
