.vaccineListContainer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px 0 0 0;
}

.vaccineListTitle {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    text-align: left;
  }