.vaccine-action-buttons{
  

    .detail-button{
      color: white;
      background-color: #007bff;
      margin-left: 10px;
    }
  
    .edit-button{
      color: white;
      background-color: #28a745;
      margin-left: 10px;
    }
  
    .delete-button{
      color: white;
      background-color: #dc3545;
      margin-left: 10px;
    }
  
  }