// My Child.

.childPageContainer {
  min-height: calc(100vh - 300px);
  width: 1200px;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  margin: 50px auto;

  .title {
    font-weight: bold;
    font-size: 28px;
  }

  .addChildButton {
    display: flex;
    justify-content: end;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    height: 40px;
    border-radius: 50px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: #0056b3;
      transform: scale(1.05);
    }

    &:active {
      background-color: #004085;
      transform: scale(0.95);
    }
  }

  .error-message {
    display: grid;
    justify-content: center;
    font-size: 20px;
    padding-top: 10px;
    align-items: center;
    color: #939393;
  }

  .error-icon {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #939393;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .pagination button {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
  }

  .pagination button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }

  .pagination button.active {
    background: #0056b3;
    font-weight: bold;
  }

  .childGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .childCard {
      background: #f9f9f9;
      padding: 15px;
      border-radius: 10px;
      text-align: center;
      //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      transition: transform 0.3s ease-in-out;
      margin: 10px;


      &:hover {
        transform: scale(1.05);
      }

      .childImage {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
      }

      .childName {
        font-size: 23px;
        font-weight: bold;
        padding: 5px;
      }

      .childItem {
        justify-content: left;
        align-items: center;
        display: flex;
        padding-left: 20px;
        font-size: 18px;
        padding-bottom: 5px;
        padding-right: 20px;

        .childItemIcon {
          font-size: 30px;
          padding-right: 8px;
        }
      }

      .childButton {
        display: grid;
        align-content: space-between;

        .childEdit {
          border: none;
          font-size: 20px;
          padding-left: 2px;
          transition: transform 0.3s ease-in-out;
          background-color: #f9f9f9;

          &:hover {
            color: #2A388F;
            transform: scale(1.2);
          }
        }

        .childDelete {
          font-size: 23px;
          border: none;
          transition: transform 0.3s ease-in-out;
          background-color: #f9f9f9;

          &:hover {
            color: #c00;
            transform: scale(1.2);
          }
        }
      }
    }
  }

}

.childP {
  font-size: 20px;
  padding-bottom: 5px;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Tạo hiệu ứng mờ nền
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .editPopup {
    background: white;
    padding: 50px;
    border-radius: 10px;
    width: 1000px;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    animation: fadeIn 0.3s ease-in-out;


    .editPopup input {
      width: 100%;
      padding: 8px;
      margin: 5px 0 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .saveButton {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        background-color: #0056b3;
      }
    }

  }

  .deletePopup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    animation: fadeIn 0.3s ease-in-out;

    .deleteTitle {
      display: flex;
      justify-content: center;
    }


    .yesButton {
      width: 30%;
      padding: 10px;
      background-color: #df3c3c;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        background-color: #a02a2a;
      }
    }

    .cancleButton {
      width: 30%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        background-color: #0056b3;
      }
    }

  }

  .detailPopup {
    background: white;
    padding: 40px;
    background-clip: padding-box;
    border-radius: 10px;
    width: 1000px;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    animation: fadeIn 0.3s ease-in-out;

    .childImage {
      width: 100%

    }

    .popupTitle {
      position: absolute;
      top: 25px;
      padding-bottom: 10px;
      border-bottom: 2px solid #c4c4c4;
      font-size: 20px;
    }

  }

  .closeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    &:hover {
      color: red;
    }
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

// Child Register

.childRegistrationContainer {
  width: 1000px;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
}

// Child Detail.

.childDetailContainer {
  width: 1400px;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  margin: 50px auto;

  .title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
  }

  .childImage {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .childP {
    font-size: 30px;
    padding-bottom: 5px;
  }

  .backButton {
    width: 10%;
    display: flex;
    justify-content: start;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: #0056b3;
      transform: scale(1.05);
    }

    &:active {
      background-color: #004085;
      transform: scale(0.95);
    }
  }
}