.childTitle {
  font-weight: bold;
  justify-content: center;
  display: flex;
  padding-bottom: 25px;
  font-size: 28px;
}

.navigateButton {
  width: 22%;
  display: flex;
  justify-content: start;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }

  &:active {
    background-color: #004085;
    transform: scale(0.95);
  }
}



.childRegistrationForm {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .imageUploadContainer {
    //width: 100%;
    height: 435px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f9f9f9;
    position: relative;
    overflow: hidden;

    &:hover {
      background-color: #ececec;
    }
  }

  .uploadIcon {
    font-size: 50px;
    color: #aaa;
  }

  .uploadedImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .hiddenInput {
    display: none;
  }

  .childRegistrationLabel {
    font-weight: bold;
  }

  .childRegistrationRadioGroup {
    display: flex;
    gap: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .childRegistrationRadioGroup label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .childRegistrationRadioGroup input[type="radio"] {
    transform: scale(1.2);
  }

  .childRegistrationSelect {
    margin-bottom: 10px;
  }

  .childRegistrationInput {
    width: 100%;
    padding: 10px 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      border-color: #007bff;
      box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.4);
    }

    select {
      appearance: none;
      background-color: white;
      cursor: pointer;

      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(-10px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

    }

    &::placeholder {
      color: #999;
    }
  }

  .childRegistrationFormColumn {
    flex: 1;
    min-width: 250px;
  }

  .childRegistrationFormColumn:first-child {
    border-right: 2px solid #ddd; /* Đường kẻ phân chia */
    padding-right: 20px;
  }

  .childRegistrationFormColumn:last-child {
    padding-left: 20px;
  }

  .childRegistrationButtonContainer {
    width: 100%;
    display: block;
    justify-content: center;
    margin-top: 20px;
  }

  .childRegistrationButton {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #2A388F;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background: #0056b3;
      box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.4);
    }
  }
}