//.account-form-page {
//  background-color: #fff;
//  border-radius: 8px;
//  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
//  padding: 24px;
//  margin-bottom: 40px;

  .form-header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .back-button {
      margin-right: 16px;
    }

    h1 {
      margin: 0;
      font-size: 22px;
      font-weight: 600;
    }
  }

  .account-form {
    padding-left: 10px;
    padding-right: 10px;

    .formGroup {
      display: flex;

      .form-column {
        width: 40%;
        padding: 26px;
      }

      .active-form {
        width: 10%;
        padding-top: 20px;
        padding-left: 10px;
      }

    }

    .button-input {
      width: 10%;
      height: 40px;
      background-color: #007bff;
      color: #fff;
      padding: 10px;
      margin-bottom: 12px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      transition: 0.3s ease;

      &:hover {
        background-color: #0056b3;
        transform: scale(1.05);
      }

      &:active {
        background-color: #004085;
        transform: scale(0.95);
      }
    }

  }
//}

