.transaction-wraper {
  body {
    font-family: "Inter", sans-serif;
    color: var(--gray-900);
    background-color: var(--gray-50);
  }

  .container {
    max-width: 940px;
    min-height: 500px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);

    h3 {
      color: #2a388f;
    }

    h5 {
      color: #db6606;
    }

    .center-align {
      text-align: center;
    }
  }

  .payment-section {
    padding: 48px 0;

    .payment-wrapper {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }

    .payment-header {
      padding: 24px;
      background-color: #2a388f;
      border-radius: 12px;
      padding-bottom: 72px;

      .payment-header-title {
        font-size: 20px;
        font-weight: 600;
        color: white;
        line-height: 1.4;
        margin-bottom: 4px;
      }
    }

    .payment-content {
      padding: 24px;
      margin-top: -64px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 32px);
        height: 16px;
        border-radius: 4px;
        background-color: var(--indigo-600);
      }
    }

    .payment-body {
      background-color: white;
      border-radius: 0 0 8px 8px;
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.3),
        inset 0 8px 0 rgba(0, 0, 0, 0.05);
      position: relative;
      padding: 8px;
      overflow: hidden;
    }

    .payment-summary-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px 12px;

      .payment-summary-name {
        font-size: 14px;
        color: var(--gray-500);
      }

      .payment-summary-price {
        font-weight: 500;
        font-size: 15px;
      }
    }

    .payment-summary-total {
      padding-bottom: 16px;

      .payment-summary-name {
        color: var(--gray-900);
      }

      .payment-summary-price {
        font-size: 16px;
        color: #2a388f;
        font-weight: 600;
      }
    }

    .payment-right {
      min-width: 0;

      .payment-form {
        padding: 24px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.05);

        .payment-title {
          font-size: 22px;
          font-weight: 700;
          margin-bottom: 12px;
          line-height: 1.3;
        }

        .payment-method {
          display: flex;
          align-items: center;
          padding: 6px 0;
          margin: 20px 0;
          width: 100%;

          input {
            display: none;
          }

          .payment-method-item {
            width: 80px;
            height: 80px;
            padding: 8px;
            border: 1px solid var(--gray-200);
            border-radius: 8px;
            margin-right: 12px;
            cursor: pointer;
            position: relative;
            flex-shrink: 0;

            span {
              display: block;
              text-align: center;
              margin-top: 4px;
              font-size: 12px;
              color: var(--gray-700);
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          input:checked + .payment-method-item {
            border-color: #2a388f;

            &::before {
              content: "";
              position: absolute;
              top: -6px;
              right: -6px;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              background-color: #2a388f;
              background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjAwMDcgMTUuMTcwOUwxOS4xOTMxIDUuOTc4NTJMMjAuNjA3MyA3LjM5MjczTDEwLjAwMDcgMTcuOTk5M0wzLjYzNjcyIDExLjYzNTRMNS4wNTA5MyAxMC4yMjEyTDEwLjAwMDcgMTUuMTcwOVoiIGZpbGw9InJnYmEoMjU1LDI1NSwyNTUsMSkiPjwvcGF0aD48L3N2Zz4=");
              background-size: 12px;
              background-position: center;
              background-repeat: no-repeat;
            }
          }
        }

        .payment-form-submit-button {
          background-color: #2a388f;
          border-radius: 8px;
          outline: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          border: none;
          cursor: pointer;
          color: white;
          font-weight: 600;
          padding: 16px;
          transition: all 0.15s ease-in-out;

          &:hover {
            background-color: #d3d9fc;
            color: #2a388f;
          }

          i {
            margin-right: 8px;
          }
        }
      }
    }
  }
}
